pytest
fastapi>=0.100,<0.113
httpx
PyJWT[crypto]>=2.10,<3
sqlglot>=26.13.2,<27
openpyxl
reportlab
pypdf
SQLAlchemy>=2.0.25,<3
aiohttp==3.8.4
chardet==5.1.0
importlib-resources==5.12.0
cachetools
pydantic>=2.6.0
typeguard
snowflake-id
typing_inspect
tomli>=2.2.1
apscheduler>=3.10,<4
cloudpickle
jinja2
requests
SQLAlchemy>=2.0.25,<2.0.29
sqlparse==0.4.4
numpy>=1.21,<2
mcp>=1.8.0,<2
pandas==2.2.3
